---
layout: nil
tags: project
title: Geomagnetic Superchron Cycles Driven by Mantle Convection
---
{% include header.html %}
</div>
<h2 id="projectsH2">Projects</h2>
<div id="projectnav">
{% include projectheader.html %}
<br/><br/></div>
<div id="projectcontent">

<h2>Geomagnetic Superchron Cycles Driven by Mantle Convection</h2><br />
<a class="tag">Core</a> <a class="tag">Mantle</a><br />
<p>We are using numerical dynamos driven by non-uniform heat flux at the core-mantle boundary to explore the links between paleomagnetic field structure, paleomagnetic reversal frequency, core evolution, and mantle convection through Phanerozoic time. 
<br />We calculate magnetic polarity reversal sequences and time average magnetic field structures using a dynamo driven by a reconstruction of mantle convection with plate motions that produces time variable core-mantle boundary (CMB) heat flux and an 
irregular evolution of the core.
</p>
<img src="/projects/images/HF1_Mantle.jpg" /></a><br />
<p class="caption" style="width:850px;">
Figure 1. Snapshots of surface heat flux, sea floor age, and CMB heat flux
at various ages from mantle reconstruction HF1 by Zhang and Zhong (2011). The CMB heat flux from this model is used to drive our Phanerozoic dynamo model.
</p>
<p>Present-day values of the dynamo control parameters are tuned to match Geomagnetic Polarity Time Scale (GPTS) reversal statistics for 0-5 Ma, and the time dependences of the dynamo control parameters are determined from the thermal evolution of the core, including time variability of CMB heat flow, inner core size, inner core chemical buoyancy flux, and rotation rate. 
</p>
<img src="/projects/images/PhanDynComp2.jpg" /></a><br />
<p class="caption" style="width:850px;">
Figure 2. Comparison of our mantle-driven dynamo with Earth structure. Top images: present-day heat flux and time average radial magnetic field on the CMB from the numerical dynamo.
Bottom images: Present-day CMB heat flux calibrated with seismic shear wave velocity variations truncated at spherical harmonic degree 3 (left) and 0-5 Ma time average radial geomagnetic field on the CMB (right). 
</p>
<p>
Our mantle convection driven dynamo shows large reversal rate fluctuations including stable polarity at 275 Ma and 475 Ma and frequent reversals at other times. This dynamo also produces departures from geocentric axial dipole symmetry during the time of supercontinent Pangaea and a heterogeneous growth history of the inner core.
</p>
<img src="/projects/images/BarCodes_0-5MaSINT_SC.jpg" /></a><br />
<p class="caption" style="width:850px;">
Figure 3. Comparison of our mantle-driven dynamo reversal sequence and dipole moment fluctuations for the present-day with the 0-5 Ma Geomagnetic Polarity Time Scale reversal sequence and SINT2000 (Valet et al., 2005) paleomagnetic dipole moment fluctuations.  
</p>
<img src="/projects/images/PhanDynComp.jpg" /></a><br />
<p class="caption" style="width:850px;">
Figure 4. Comparison of our mantle-driven dynamo reversal sequences with Geomagnetic Polarity Time Scale reversal sequences at various ages. CNS, KRS, and MNS denote Phanerozoic magnetic superchrons.  
</p>
<br /><br />
<h3>References</h3>
<p>Johnson, C., Constable C.G., 1995. The time-averaged geomagnetic field as recorded<br />&nbsp; &nbsp; &nbsp; &nbsp;by lava flows over the last 5 Ma, <i>Geophys. J. Int.</i>, 122, <b>489-519</b>.<br /><br />

Olson, P., Deguen, R., Hinnov, L., Zhong, S. , 2012. Controls on geomagnetic<br />&nbsp; &nbsp; &nbsp; &nbsp;reversals and core evolution by mantle convection in the Phanerozoic,<br />&nbsp; &nbsp; &nbsp; &nbsp;<i>Phys. Earth Planet. Inter.</i>  (in press).<br /><br />

Valet, J., Meynadier, L., Guyodo, Y., 2005. Geomagnetic field strength and reversal rate<br />&nbsp; &nbsp; &nbsp; &nbsp; over the past 2 million years, <i>Nature</i> 435, <b>802-805</b>.<br /><br />

Zhang N., Zhong, S. J., 2011. Heat fluxes at the Earth's surface and core-mantle boundary<br />&nbsp; &nbsp; &nbsp; &nbsp; since Pangea formation and their implications for the geomagnetic superchrons,<br />&nbsp; &nbsp; &nbsp; &nbsp;<i>Earth Planet. Sci. Lett.</i> 306, <b>205-216</b>.
</p>

</div>
</div>

{% include footer.html %}