---
layout: nil
---
{% include header.html %}
</div>
<h2 id="projectsH2">Projects</h2>
<div id="projectnav">
{% include projectheader.html %}
<br/><br/></div>
<div id="projectcontent">

<h2>Sensitivity of a Coupled Earth System Model to Isopycnal Stirring</h2><br />
<a class="tag">Oceans</a> <a class="tag">Atmosphere</a><br />
<p>Because the ocean is strongly stratified, stirring along density surfaces is much stronger than stirring across
such surfaces. This mixing is often represented in terms if turbulent stirring with a large diffusion coefficient. The
value of this coefficient, however, is not well constrained from data, with published values ranging over more than
an order of magnitude. We tested the sensitivity of a climate model (CM2Mc) to a 6 fold increase in the diffusion coefficient. The results showed, averaged over the whole planet, an increase in Sea Surface Temperature of a degree Celsius. Locally an error of up to 7 degree Celsius can be found. The increase in temperature is associated with ice retreat over the polar regions. A careful analysis of the radiative fluxes and the heat and salt transport in the ocean suggested than the key driver of the warming and regression of the ice is the transport of salt to high latitudes. In such latitudes the surface is fresher, but often colder than the deep ocean, so that making so that breaking down stratification allows warmer water to move upwards at the surface. This result is of interest for paleoclimate modeling as it might provide some insight into how past climates could be associated with large changes in polar temperatures but small changes in equatorial temperatures.</p>
</div>
</div>

{% include footer.html %}