---
layout: nil
published: true
---
{% include header.html %}
</div>
<div id="news">
<h2 id="projectsH2">Admin Page</h2>

<div id="projectnav">
<a href="http://prose.io/#openearthsystems/openearthsystems.github.io/edit/master/publications.md">+ Add publication</a> <br />
<a href="http://prose.io/#openearthsystems/openearthsystems.github.io/tree/master/projects/_posts">+ Add project</a>

</div>
<br /><br />
<p>
If you are not signed into Github with the openearthsystems account, you will see a square green button in the bottom right corner of the editing page (see below). Click there to authorize your computer to administer the OES site.
</p>
<br />
 
<img src="/images/auth2.jpg" width="600px" />

</div>
{% include footer.html %}
