---
layout: nil
published: true
---
{% include header.html %}
</div>
<div id="homepage">
<table id="projects">
<tr><td>

<a href="./projects/climate.html">
<div class="project" style="background-image: url('/images/atmos2.jpg');">
<h4>Atmosphere</h4>
</div>
</a>
</td>
<td>

<a href="./projects/climate.html">
<div class="project" style="background-image: url('/images/oceans.jpg');">
<h4>Oceans</h4>
</div>
</a>

</td>
<td>
<a href="./projects/gcc.html">
<div class="project" style="background-image: url('/images/crust.jpg');">
<h4>Crust-Mantle</h4>
</div>
</a>

</td>
<td>
<a href="./projects/">
<div class="project" style="background-image: url('/images/core.jpg');">
<h4>Core</h4>
</div>
</a>

</td>
</tr>
</table>
<table>
<tr>
<td id="blurb">
<a class="tag">Featured Project</a><br /><br />
<a class="tag" id="peopleWebpage" href="./people/anand.html">Anand Gnanadesikan</a> <a class="tag"id="peopleWebpage" href="./people/pradal.html">Marie-Aude Pradal</a><br /><br />
<h2>How increasing mixing warms the polar regions</h2>
<h5>One important question in paleoclimate is how to warm polar regions
without significantly warming the equator. For example, during parts of
the Cretaceous, dinosaurs were found in what is now the Arctic, but equatorial
regions were not significantly warmer. One line
of attempts to explain this phenomenon has focused on changing 
the transport of heat within the ocean. In a paper recently submitted to the Journal of Advances in Modeling the Earth
System, Marie-Aude Pradal and Anand Gnanadesikan suggest a different 
pathway to warming. &nbsp;<a class="newsLink" href="/projects/images/mixing.html">Read more...</a><br /><br />
<img width="450px" src="./projects/images/lowmix2.png" />
<br />


</h5>
</td>
<td id="homeNews">
<a id="newsHome" href="./news.html"><h2>Upcoming Events &amp; News</h2></a>
<br />
<p>
OES weighs in on the core paradox <br />
<a class="newsLink" href="./news.html">Read more...</a>
</p>
<br />
<p>
OES hosts 2015 Summer Course for Maryland teachers <br />
<a class="newsLink" href="./news.html#course">Read more...</a>
</p>
<br />
<p><a class="newsLink" href="./news.html#book">Announcement:</a><br />
Treatise on Geophysics published, featuring OES PIs Peter Olson and David Bercovici
</p>

<br /><br />
<br /><br />

<h2>About OES</h2>
<h5>Open Earth Systems is a research project funded by the Frontiers in Earth System Dynamics Program of the National Science Foundation. The goal of Open Earth Systems is to interface state-of-the-art models of the atmosphere, ocean, crust, mantle, and core to better understand the causes and consequences of critical events in Earth's history.
</h5>
<!--
<h5>Participating institutions are Johns Hopkins University, University of Colorado Boulder, Yale University, and University of California Berkeley. Open Earth Systems research projects include the convective history of the mantle, plate generation dynamics, magma production and transport, evolution of the geodynamo, evolution of the ocean-atmosphere, and evolution of the crust through time. 
</h5>
-->
<!--<p><a class="newsLink" href="./news.html#award">News:</a><br />
Renaud Deguen awarded the 2012 Doonbos Prize<br />Leeds, United Kingdom
</p><br /><br />
-->
<!--<p><a class="newsLink" href="./news.html#grc">June 2-7, 2013:</a><br />
Gordon Research Conference: Earth's Deep Interior<br />Mount Holyoke, MA
</p>
-->
</td></tr>
<!--
<tr>
<td id="blurb">
<!--
<a class="tag">About</a><br /><br />

</td>
-->
</table>
<br /><br />
<h2>Other Projects:</h2>
<div id="projectnav">
<a class="pnav" href="./projects/nucleation.html">Inner Core Nucleation</a><br />
<a class="pnav" href="./projects/recon.html">Global Paleobathymetry &amp; Ocean Sediment Reconstructionn</a><br />
<a class="pnav" href="./projects/flayer.html">F-layer formation at the inner core boundary</a><br />
<a class="pnav" href="./projects/driven.html">Modeling a Mantle-driven Dynamo</a><br />

<a class="pnav" href="./projects/superchron.html">Geomagnetic Superchron Cycles Driven by Mantle Convection</a><br />
<a class="pnav" href="./projects/">Magnetic Reversals and the Earth's Core</a><br />
<a class="pnav" href="./projects/gcc.html">Geodynamic Carbon Cycling</a><br />
<a class="pnav" href="./projects/mantle.html">Mantle convection, plates, and the Earth system</a><br />
<a class="pnav" href="./projects/climate.html">Climate interactions forced by continent assembly and breakup</a>
</div>
</div>



{% include footer.html %}

