html, body, div, span, header, nav,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp,
small, strike, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}


body {
	line-height: 1;
	background-color: #fff;
	height: 100%;

}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:active, :focus, :visited { 
	outline-style: none;
}

a {
	
	text-decoration: none;
}

#wrapper {
	width: 944px;
	margin: 0px auto;
	height: 100%;
}
/* 

Header

*/


#header {
	max-width: 944px;
	min-width: 400px;
	margin: 0px auto;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: Georgia, serif;
	color: #050505;
	
}

#header table {
	width: 944px;
}
#header td {
	vertical-align: bottom;
}


#headerRow {
	border-bottom: 1px solid #DCDCDC; #ccc;
}

#header h2 {
	font-size: 170%;
	font-weight: 400;
	margin: 0;
	
}

#nav {
	padding-left: 0px;
	padding-bottom: 38px;
	font-family: Georgia, serif;
	text-align: right;
}
#selectedNav {
	border-bottom: 5px solid #3771C8;
	}
	
#unselectedNav {
	border-bottom: none;
	scolor:#DCDCDC;
}


/* @end */

#nav a {
	color: #050505;
	margin-left: 41px;
	padding-bottom: 8px;
}

#nav a:hover,active {
	border-bottom: 5px solid #3771C8; #3771C8;
	stext-decoration: underline;
}

#logo {
	padding-bottom: 37px;
}

#logo img {
}



/* 
Photo Contest
*/


#enter {
	padding: 26px;
	qborder: 1px solid #dcdcdc;
	background-color: #fdfaf3;
}

#contesthead {
	font-family: Arial, sans-serif;
}
/* 

Home Page

*/


#homepage {
	font-family: Georgia, serif;
	color: #050505;
	
}

#homepage h2 {
	font-size: 130%;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 10px;
}

#homepage h3 {
	font-size: 130%;
	font-weight: 400;
	margin: 0;
	margin-bottom: 10px;
}
#homepage h5 {
	font-size: 95%;
	color: #252525;
	line-height: 1.4;
	font-weight: 400;
	margin-bottom: 20px;
}
#homepage p {
	font-size: 100%;
	color: #252525;
	line-height: 1.4;
}
a.newsLink {
	color: #3771C8; #3771C8;
	text-decoration: underline;
}
a.newsLink:hover,active {
	color: #3771C8; #3771C8;
	text-decoration: underline;
}
a.newsLink:visited {
	color: #3771C8; #3771C8;
	text-decoration: underline;
}

#atmos a:hover,active {
		text-decoration: none;
}
#newsHome {
	color: #050505;
}
#newsHome:hover,active {
	text-decoration: underline;
	color: #050505;
}

#blurb {
	width: 610px;
	padding-right: 48px;
	;border-right: 1px solid #e4e4e4;
}

#homeNews {
	border-left: 1px solid #DCDCDC; #e4e4e4;
	padding-left: 35px;
}


.project {
	position: relative;
	background-image:url('http://openearthsystems.org/beta/atmos2.jpg');
	background-repeat: no-repeat;
	width: 225px;
	height: 150px;
	vertical-align: bottom;
	color: #fff;
	margin-bottom: 50px;
}

.project h4 {
	position:  absolute;
	bottom: 10px;
	left: 10px;
	font-weight: 400;
	font-size: 120%;
	margin: 0;
	line-height: 1;
	
	
}

#projects td {
	padding-right:  14px;
}

/* Footer */


#footer {
	width:  100%;
	margin: 0 auto;
	margin-top: 40px;
	sbackground-color: #e0e3e3; #dcdcdc;
	border-top: 1px solid #d5d7d7;
	font-family: Georgia, serif;
}


#footerWrap {
	
	width:  944px;
	height: 100%;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
	font-size: 90%;
	line-height: 1.3;
}

#footer a.header {
	color: #050505;
	line-height: 2;
	padding-top: 20px;
	

}

#footer a:hover,active {
		text-decoration: underline;
}

a.element {
	font-family: Arial, sans-serif;
	font-size: 80%;
	color: #7c7c7c;
}

#footer table {
	width: 944px;
}
#footer td {
	padding-right: 30px;
}
#vizCell {
	padding-right: 0;
}
#contact {
	padding-right: 0;
	padding-left: 125px;
}

#footer img {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}

#footer p {
	text-align:center;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-size: 80%;
	color: #050505; #7c7c7c;
}


/* PROJECT PAGES */

#projectnav {
	margin-bottom: 0px;
	font-family: Arial;
	font-weight: 400;
}
#projectnav a {
	color: #fff;
	background-color: #98a0ae; #b1bac8; #b2b2b2;
	padding: 5px 8px;
	margin-right: 3px;
	
	font-size: 90%;
	letter-spacing: 0.08em;
	line-height: 2.5;
}

#projectnav a:hover,active{
	background-color: #3771C8; #3771C8;
}

#projectnav a.selected {
	background-color: #3771C8; #3771C8;
}

#projectcontent {
	color: #050505;
	font-family: Georgia, serif;
}
#projectsH2 {
font-family: Georgia, serif;
	margin-bottom: 18px;
	font-size: 170%;
	font-weight: 400;
	letter-spacing: .04em;
	line-height: 1.3;
}
a.btag {
	font-size: 100%;
	font-family: Arial, sans-serif;
	padding: 5px;
	color: #333;
	border: 1px solid #333;
	
}

a.tag {
	font-size: 80%;
	font-family: Arial, sans-serif;
	padding: 4px;
	color: #333;
	border: 1px solid #333;
	text-decoration: none;
	margin-bottom: 10px;
	
}



#projectcontent h2,h3 {
	margin-top: 18px;
	font-size: 150%;
	font-weight: 400;
	letter-spacing: .04em;
	line-height: 1.3;
}

#projectcontent p {
	margin-bottom: 50px;
	margin-top: 20px;
	line-height: 1.5;
	color: #333;
	width: 660px;
	sfont-family: Arial;
	sfont-size: 85%;
}

#projectcontent p.caption {
	font-size: 80%;
	font-family: Arial, sans-serif;
	
}

#projectcontent h3 {
	font-size: 110%;
	margin-bottom: 20px;
}
/*
a.pdf {
	color: #3771C8; #3771C8;
	text-decoration: underline;
}
*/

/* People */

#people {
	font-family: Georgia, serif;
}

a.people {
	color: #3771C8; #3771C8;
	text-decoration: underline;
	line-height: 1.3;
}

#people h2, h3, h4 {
	font-size: 170%;
	font-weight: 400;
	letter-spacing: .04em;
	line-height: 1.3;
	margin-bottom: 30px;
}
#people h3 {
	margin-bottom: 15px;
	margin-top: 15px;
}
#people h4 {
	margin-bottom: 0px;
	font-size: 120%;
}

#people a.tag {
	margin-right: 5px;
	line-height: 1.3;
}
#peopleWebpage {
	color: #3771C8; #3771C8;
}
.plist {
	margin-top: 17px;
	margin-bottom: 29px;
	}

#peopleBlurb {
	vertical-align: top;
	width: 550px;
}

#peoplePic {
	padding-top: 35px;
}
#peoplePic img {
	border: 5px solid #ccc; #050505;
}
#people p {
	margin-right: 70px;
	margin-top: 30px;
	color: #050505;
	line-height: 1.5;
}

#peopleNav {
	color: #050505;
}

#peopleNav :hover,active {
	text-decoration: underline;
} 


/* News */

#news {
		font-family: Georgia, serif;
		color: #050505;
		width: 780px;
	}
	
#news h2, h4 {
	font-size: 170%;
	font-weight: 400;
	letter-spacing: .04em;
	line-height: 1.3;
	}
	
#news h2 {
	margin-bottom: 30px;
}
	
#news h4 {
	font-size: 120%;
	margin-bottom: 10px;
}
#news h5 {
font-size: 120%;
	font-weight: 400;
	line-height: 1.2;
}
#news h6 {
	font-size: 100%;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 10px;
}

#news p {
	line-height: 1.5;
	color: #333;
}
#news a.photo {
	color: #3771C8; #3771C8;
	text-decoration: underline;
	line-height: 1.3;
	
}
#news a.poster {
	color: #3771C8; #3771C8;
	text-decoration: underline;
	line-height: 1.3;
	
}
.newsItem {
	margin-bottom: 50px;
	width: 650px;
}
#news a.tag {
	margin-right: 5px;
	line-height: 1.3;
}
#newsWebpage {
	color: #3771C8; #3771C8;
}

/*Photo Contest */

#photos a.selected {
	color: #fff;
	background-color: #3771C8; #b1bac8; #b2b2b2;
	padding: 7px 10px;
	margin-right: 3px;
	
	font-size: 130%;
	letter-spacing: 0.08em;
	line-height: 2.5;
}

#projectnav a:hover,active{
	background-color: #3771C8; #3771C8;
}

#photos.selected {
	background-color: #3771C8; #3771C8;
}


#photos td {
	padding-right: 50px;
	padding-top: 20px;
}

#photo-title {
	margin-top: 15px;
}

#news img {
	margin-bottom: 1px;
}

a.gallery-title {
	color: #3771C8;
	font-size: 80%;
	font-family: Arial, sans-serif;
	text-decoration: none;
	
}

a.gallery-title:hover,active {
	color: #3771C8; #3771C8;
	text-decoration: underline;
}
a.gallery-title:visited {
	color: #3771C8; #3771C8;
	text-decoration: underline;
}

#photo-footer {
	height: 50px;
}

img.ballot {
	width: 108px;
}

#ballotphotos td {
	padding-right: 10px;
	padding-top: 15px;
	margin-bottom: 0;
}

/* Outreach */

#outreach {
	font-family: Georgia, serif;
	color: #050505;
}

#outreach h2, h4 {
	font-size: 170%;
	font-weight: 400;
	letter-spacing: .04em;
	line-height: 1.3;
	margin-bottom: 20px;
	}
#outreach h4 {
	font-size: 120%;
	margin-bottom: 10px;
	margin-top: 20px;
}

#outreach p {
	line-height: 1.5;
	color: #333;
	width: 650px;
	margin-bottom: 10px;
}
#courseNav {
	margin-bottom: 0px;
	font-family: Arial;
	font-weight: 400;
}
#courseNav a {
	color: #fff;
	background-color: #3771C8; #b1bac8; #b2b2b2;
	padding: 5px 8px;
	margin-right: 3px;
	
	
	font-size: 90%;
	letter-spacing: 0.08em;
	line-height: 2.5;
}

#courseNav a:hover,active{
	background-color: #3771C8; #3771C8;
}

#courseNav a.selected {
	background-color: #3771C8; #3771C8;
}

#outreach p.caption {
	font-size: 80%;
	font-family: Arial, sans-serif;
}

/* PUBLICATIONS */

.pub {
	padding-left: 1.5em;
	text-indent:-1.5em;
	line-height: 1.3;
	color: #333;
	margin-top: 18px;
}

.pub a {
	color: #3771C8; #3771C8;
	text-decoration: underline;
}
