---
layout: nil
tags: project
title: Geodynamic Carbon Cycling
---
{% include header.html %}
</div>
<h2 id="projectsH2">Projects</h2>
<div id="projectnav">
{% include projectheader.html %}
<br/><br/></div>
<div id="projectcontent">

<h2>Geodynamic Carbon Cycling</h2><br />
<a class="tag">Crust</a> <a class="tag">Mantle</a><br />
<p>Because Earth’s mantle and crust are massive, open reservoirs of carbon,
geodynamical processes affect the concentration of CO2 in the atmosphere
and ocean, thereby playing key roles in Earth’s climate variability on geologic
time scales. The mantle and crustal reservoirs of carbon have limited influence
on short time scale CO2 variations such as those related to primary production
and respiration, but they affect the long-term abundance of CO2 in the surface
environment through the rock cycle, by altering the rates of weathering of silicate
rocks, precipitation and burial of carbonate and organic carbon-rich sediments,
volcanic degassing of CO2, and metamorphism of carbonate rocks.
<br /><br />
Evidence for the long-term interaction between the mantle and crustal carbon
reservoirs and the surface environment comes from the correlations between
the oxygen isotope record from shallow marine carbonates, an indicator of sea-
surface temperature, and various proxies for the concentration of atmospheric
CO2 during the Phanerozoic. As shown in Figure 1, these imply very large
changes in both atmospheric CO2 and the global climate system on hundred
million year time scales.
</p>
<img src="./gccfig1.jpg" /></a><br />
<p class="caption" style="width:425px;">
Figure 1. Phanerozoic climate variations A: Atmospheric CO2 proxies vs. GEOCARB III
model predictions; B: Record of glaciation events (blue shading); C: Latitude distribution
of geological evidence for glaciation. Adapted from Royer et al. [2004].
</p>
<p>A major geologic process that removes CO2 from the surface environment is the
weathering of Ca- and Mg-bearing silicate rocks and the subsequent deposition
of Ca- and Mg-bearing carbonate sediments. Another is the burial of organic
carbon in sediments. Major geologic processes that add CO2 to the surface
environment include volcanic emission, metamorphism of carbonate rocks, and
thermal decomposition of marine carbonates and carbon-rich sediments.
<br /><br />These diverse geological processes are loosely coupled by global geodynamics,
as schematically illustrated in Figure 2. Mantle convection and subduction
produce plate boundaries with active continental margins where metamorphism
and volcanism are concentrated. These represent sources of carbon for the
surface environment. At the same time, mantle convection produces surface
topography via continent collisions, which accelerates the erosion of silicate
rocks, and also rifting, which produces passive continental margins and facilitates
the deposition of carbonate sediments and the burial of organic carbon. Together
these represent a sink of carbon for the surface environment.
</p>
<img src="./gccfig2.jpg" /></a><br />
<p class="caption" style="width:540px;">
Figure 2. A diagram illustrating geodynamic controls on the long-term inorganic carbon cycle.
Silicate weathering and subsequent carbonate deposition at passive margins removes
carbon from the atmosphere, while volcanic and metamorphic processes at active
margins release carbon back to the atmosphere. From Kasting and Catling [2003].
</p>
<p>
The strength of the long-term carbon cycle is determined by how tightly the
above-mentioned geologic processes are coupled by global geodynamics. If
they were tightly coupled, that is, if the geologic sources and sinks were nearly
in phase, then the long-term carbon cycle would be weak. However, the large
variations in atmospheric CO2 implied by Figure 1 are evidence that the coupling
between these processes is in fact rather weak, so that the geologic sources and
sinks of environmental carbon are not only time variable, but they are also out of
phase, by tens or hundreds of millions of years.
<br /><br />
How does the Earth system produce such time variability and out of phase
behavior? Super-continent formation and breakup controls the distribution,
surface relief and sizes of continents, as well the distribution and length of
subduction zones, ridges and passive margins, sea level, and the frequency of
continent collisions. These in turn affect the circulation and transport of heat in
the ocean and atmosphere that control the climate, which couples back to the
rock cycle through precipitation, weathering, and erosion.
<br /><br />
Some components of the long-term carbon cycle can be calibrated using the
present-day Earth, and other components can be estimated from the geological
record. However, several of the key parts of this cycle require modeling. For
examples, the contributions from metamorphism and volcanism depend on the
plate tectonic history. Likewise, the contributions from weathering and erosion
depend on the climate history.<br /><br />
The Open Earth Systems project uses models of mantle convection and plate
dynamics to calculate the volcanic and metamorphic contributions to the carbon
cycle, and to reconstruct past ocean-continent configurations over Phanerozoic
times. We then use ocean-atmosphere models to calculate the factors controlling
erosion of silicates and carbonate precipitation during this time period, thereby
closing the carbon cycle.</p>
<br /><br />
<h3>References</h3>
<p>Kasting, J.F., and Catlin, D.F., 2003. Evolution of a habitable planet, <i>Ann. Rev.<br />&nbsp; &nbsp; &nbsp; &nbsp;Astron. Astrophysics</i>, 41:<b>429–63</b>.<br /><br />
Royer, D.L., Berner, R.A., Montañez, I.P., Tabor, N.J., and Beerling, D.A., 2004.<br />&nbsp; &nbsp; &nbsp; &nbsp;CO2 as a primary driver of Phanerozoic climate, <i>GSA Today</i>, 14, <b>3</b>.</p>

</div>
</div>

{% include footer.html %}