---
layout: nil
tags: project
title: Magnetic Reversals and the Earth's Core
---

{% include header.html %}
</div>
<h2 id="projectsH2">Projects</h2>
<div id="projectnav">
{% include projectheader.html %}

<br/><br/></div>
<div id="projectcontent">

<h2>Magnetic Reversals and the Earth's Core</h2><br />
<a class="tag">Core</a> <a class="tag">Mantle</a><br />
<p>Polarity reversals are intrinsic to the geodynamo. They occur spontaneously, although there is evidence that the overall frequency of reversals may be controlled by the rate of heat loss from the core to the mantle. During a polarity reversal, the magnetic field at Earth's surface is weak and multipolar, in contrast to the strongly-dipolar configuration that prevails during stable polarity times. The Open Earth Systems Project seeks to understand the causes and consequences of magnetic polarity reversals in the Earth's core, and how the surface environment is affected during these events.
</p>
<a id="cmbmag" class="tag">Visualization</a><br />
<h3>Magnetic Field Patterns on the Core-Mantle Boundary<br /> During a Geomagnetic Reversal</h3>
<iframe src="http://player.vimeo.com/video/32792194?title=0&amp;byline=0&amp;portrait=0" width="660" height="399" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><br />
<p class="caption">
Changes in magnetic field intensity on the core-mantle boundary (CMB) during a rapid magnetic polarity reversal from a numerical dynamo. The animation shows the evolution of the intensity of the radial component of the magnetic field on the (CMB) over 20 kyr. Red contours indicate radially outward-directed magnetic field; blue contours indicate radially inward-directed magnetic field. Continental outlines are shown for reference. The red cross marks the location of the geomagnetic pole. Lower: Time evolution of the intensity of the axial dipole field and the tilt of the dipole axis prior to, during, and after the reversal.
</p>

<a id="corevid" class="tag">Visualization</a><br />
<h3>Magnetic Field Lines in Earth's Core <br />During a Geomagnetic Reversal</h3>
<iframe src="http://player.vimeo.com/video/32792091?title=0&amp;byline=0&amp;portrait=0" width="660" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><br />
<p class="caption">
The changing pattern of magnetic field lines inside the core during a rapid magnetic polarity reversal from a numerical dynamo. The core-mantle boundary is shown in purple and the solid inner core in green. Magnetic field lines are color-coded according to their polarity (i.e., orientation) in the equatorial plane of the core, which is indicated by the white curve. Magnetic field pointing toward the north is indicated by blue-colored field lines; magnetic field pointing toward the south is indicated by red-colored field lines. This reversal, which lasts about 10 kyr, corresponds to a reverse-to-normal (R-N) polarity change.  
</p>

<a id="reversals" class="tag">Visualization</a><br />
<h3>800,000 year simulation of magnetic field generation in the Earth's core <br />with two polarity reversals</h3>
<iframe src="http://player.vimeo.com/video/43056844?title=0&amp;byline=0&amp;portrait=0" width="660" height="750" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><br />
<p class="caption">
The top map sequence shows the intensity of the geomagnetic field on the core-mantle boundary, with outward directed field in red and inward directed field in blue. The middle map sequence shows the pattern of vorticies in the molten iron outer core that generate the geomagnetic field, with cyclonic vorticies in red, anticyclonic vortices in blue. The lower map shows the flux of light elements (O, S, Si, etc.) from the inner core that powers the geodynamo. <br /><br />
Follow the red cross that marks the geomagnetic dipole axis to see the polarity reversals. The first reversal flips the geomagnetic field from normal to reverse polarity around 280,000 years, and occurs suddenly, almost without warning. The second reversal around 640,000 years is a complex transition preceded by short polarity excursions, much like the Bruhnes-Matuyama transition, the most recent reversal in the paleomagnetic record.
</p>

<a id="corepic" class="tag">Visualization</a><br />
<h3>Magnetic Field and Flow in the Core <br />During a Geomagnetic Reversal (click for full resolution)</h3>
<a href="../ReversalSteps.jpg"><img src="../ReversalStepspreview.jpg" /></a><br />
<p class="caption">
Snapshots spaced about 2 kyr apart during a rapid magnetic polarity reversal from a numerical dynamo. Top sequence shows the evolution of the intensity of the radial component of the magnetic field on the core-mantle boundary (CMB). Red contours indicate radially outward-directed magnetic field; blue contours indicate radially inward-directed magnetic field, with continental outlines shown for reference.  Middle two sequencs show the evolution of magnetic field lines within the core,  color-coded according to their polarity (i.e., orientation) in the equatorial plane, with northward oriented magnetic field indicated by blue-colored field lines, and magnetic field pointing toward the south indicated by red-colored field lines. The bottom sequence shows the major vortices in the outer core, with red indicating positive (cyclonic) and blue indicating negative (anticyclonic) vorticity, respectively. 
</p>
<br /><br />
<h3>Reference</h3>
<p>Olson, P., Driscoll, P., Amit, H., Dipole collapse and reversal precursors in a numerical <br />&nbsp; &nbsp; &nbsp; &nbsp;dynamo, <i>Phys. Earth. Planet. Inter.</i> <b>173</b>, 121-140, 2009. <a class="pdf" href="http://www.jhu.edu/~polson1/pdfs/DipoleCollapse.pdf">[pdf]</a>
</p>

</div>
</div>

{% include footer.html %}