---
layout: nil
tags: project
title: Modeling the Geodynamo
---
{% include header.html %}
</div>
<h2 id="projectsH2">Projects</h2>
<div id="projectnav">
{% include projectheader.html %}
<br/><br/></div>
<div id="projectcontent">

<h2>Modeling the Geodynamo: Comparisons between a mantle-driven dynamo and the geomagnetic field</h2><br />
<a class="tag">Core</a> <a class="tag">Mantle</a><br /><br /><br /><br />

<img src="/projects/images/Brcmb_compare.jpg" /></a><br />
<p class="caption">
The upper maps show the present-day geomagnetic field structure on the core-mantle boundary derived from satellite measurements (left), and the time average geomagnetic field structure for the past 5 million years (right; normal polarity times only).The lower maps are from a numerical dynamo that is driven by heat flow derived from our HF1 reconstruction of the 3D structure of the mantle. Note the close comparison between the major magnetic field structures in dynamo snapshot (left) and the present-day core field, and in the dynamo average (right) and the core field average.
</p>
<br /><br />
<h3>References</h3>
<p>0-5 Ma time average core field from: Johnson, C. L., G. Cromwell, L. Tauxe, C. G. Constable. <br />&nbsp; &nbsp; &nbsp; &nbsp;Paleosecular Variation and Time-Averaged Field Behavior: Global and Regional <br />&nbsp; &nbsp; &nbsp; &nbsp;Signatures, Abstract GP24A-02, <i>Fall Meeting, American Geophysical Union</i>.<br />&nbsp; &nbsp; &nbsp; &nbsp;San Francisco, Calif., 3-7 December 2012.
</p>
<p>HF1 dynamo from: Olson, P., Deguen, R., Hinnov, L.A., and Zhong, S., Controls on <br />&nbsp; &nbsp; &nbsp; &nbsp;geomagnetic reversals and core evolution by mantle convection in the Phanerozoic <br />&nbsp; &nbsp; &nbsp; &nbsp;dynamo, <i>Phys. Earth. Planet. Inter.</i> <b>214</b>, 87-103, 2013.
</p>

</div>
</div>

{% include footer.html %}