---
layout: nil
---
{% include header.html %}
</div>
<div id="people">
<a id="peopleNav" href="./"><h4>People</h4></a>
<h3>Anand Gnandesikan</h3>
<a class="tag">Co-PI</a> <a class="tag">Johns Hopkins University</a><br /><br /><a class="tag" id="peopleWebpage" href="http://blaustein.eps.jhu.edu/~gnana/">Web page</a><br />
<table><tr>
<td id="peopleBlurb">
<p>
My primary research  interests are in the vertical circulation of the ocean and the connections between physical circulation, the biosphere, and large-scale ocean chemistry. The ocean shapes global climate directly by moving heat from the equator to the poles and from the South Atlantic to the North Atlantic. I try to understand the physics controlling this "great ocean conveyor". 
</p><p>
My role in the Open Earth Systems Project is to model ocean circulation and global climate at key times in Earth history. 
</p>
</td>
<td id="peoplePic">
<img src="/images/GNANADESIKAN.jpg" />
</td></tr></table>
</div>
</div>

{% include footer.html %}
