---
layout: nil
---
{% include header.html %}
</div>
<div id="people">
<a id="peopleNav" href="./"><h4>People</h4></a>
<h3>David Bercovici</h3>
<a class="tag">PI</a> <a class="tag">Yale University</a><br /><br /><a class="tag" id="peopleWebpage" href="http://earth.geology.yale.edu/people/moreinfo.cgi?netid=db327">Web page</a><br />
<table><tr>
<td id="peopleBlurb">
<p>
The focus of my research is on mantle convection, lithosphere dynamics and the origin of plate tectonics, hotspots and mantle plumes, and volcanic flows and eruptions. I also research multi-phase flows that are being applied to both mantle melting as well as carbon sequestration and shale-gas development.</p>
<p>
My roles in this project include implementing plate boundary dynamics, plus mantle water and carbon cycling into Open Earth Systems.  
</p>
</td>
<td id="peoplePic">
<img src="/images/Bercovici.jpg" />
</td></tr></table>
</div>
</div>

{% include footer.html %}

