---
layout: nil
---
{% include header.html %}
</div>
<div id="people">
<a id="peopleNav" href="./"><h4>People</h4></a>
<h3>Linda Hinnov</h3>
<a class="tag">Co-PI</a> <a class="tag">Johns Hopkins University</a><br /><br /><a class="tag" id="peopleWebpage" href="http://www.jhu.edu/~lhinnov1">Web page</a><br />
<table><tr>
<td id="peopleBlurb">
<p>
My research involves the stratigraphic record of Earth history, with a focus on
astronomical signals in the paleoclimate record. I have contributed to the development
of the Astronomical Time Scale, a geo-chronometer recently incorporated into the
International Geologic Time Scale for the Cenozoic and Mesozoic Eras, with future
extension to the Paleozoic Era.
</p>
<p>
My role in the Open Earth Systems Project is to identify, collect, analyze, and assimilate
geological data pertaining to major Earth system processes that have operated
throughout Earth history. The data will be used to test, validate, and tune Open Earth
System models.
</p>
</td>
<td id="peoplePic">
<img src="/images/hinnov1.jpg" />
</td></tr></table>
</div>
</div>

{% include footer.html %}

