---
layout: nil
---
{% include header.html %} 
</div>
<div id="people">
<h2>People</h2>
<a class="tag">Johns Hopkins University</a><br />
<div class="plist">
<a class="people" href="./olson.html">Peter Olson</a>, Lead PI <br />
<a class="people" href="./hinnov.html">Linda Hinnov</a>, Co-PI <br />
<a class="people" href="./anand.html">Anand Gnanadesikan</a>, Co-PI <br />
<a class="people" href="./waugh.html">Darryn Waugh</a>, Co-PI <br />
<a class="people" href="./stolarski.html">Richard Stolarski</a>, Research Professor <br />
<a class="people" href="./pradal.html">Marie-Aude Pradal</a>, Research Scientist <br />
<a class="people" href="./raj.html">Arghya Goswami</a>, Postdoc<br /><br />
</div>
<a class="tag">University of Colorado, Boulder</a><br />
<div class="plist">
<a class="people" href="./zhong.html">Shijie Zhong</a>, PI <br /><br />
</div>
<a class="tag">University of California, Berkeley</a><br />
<div class="plist">
<a class="people" href="./manga.html">Michael Manga</a>, PI <br /><br />
</div>
<a class="tag">Yale University</a><br />
<div class="plist">
<a class="people" href="./bercovici.html">David Bercovici</a>, PI <br />
</div>
</div>
</div>

{% include footer.html %}
