---
layout: nil
---
{% include header.html %}
</div>
<div id="people">
<a id="peopleNav" href="./"><h4>People</h4></a>
<h3>Michael Manga</h3>
<a class="tag">PI</a> <a class="tag">University of California, Berkeley</a><br /><br /><a class="tag" id="peopleWebpage" href="http://seismo.berkeley.edu/~manga/rsch.html">Web page</a><br />
<table><tr>
<td id="peopleBlurb">
<p>
My focus in the Open Earth Systems Project is

on understanding how tectonic and dynamic processes affect melt production and

storage in the mantle and at the base of the crust, melt transport through the crust, and eruption at the

surface. As part of this project we are developing new techniques to determine

the locations and timing of large basaltic eruptions. 
</p>
</td>
<td id="peoplePic">
<img src="/images/manga.jpg" />
</td></tr></table>
</div>
</div>

{% include footer.html %}

