---
layout: nil
---
{% include header.html %}
</div>
<div id="people">
<a id="peopleNav" href="./"><h4>People</h4></a>
<h3>Peter Olson</h3>
<a class="tag">Lead PI</a> <a class="tag">Johns Hopkins University</a><br /><br /><a class="tag" id="peopleWebpage" href="http://www.jhu.edu/~polson1/">Web page</a><br />
<table><tr>
<td id="peopleBlurb">
<p>
My research concerns the dynamics of Earth's interior, including the mantle, the core and their interactions. One of my long-standing goals is to understand how the co-evolution of the core and mantle through time have affected the surface environment. I am also researching the causes and the consequences of magnetic polarity reversals of the geodynamo.
</p>
<p>
My roles in the Open Earth Systems project include the overall coordination of our research efforts and coordination of our outreach activities such as the Geoscience Ingenuity project. I am also leading our effort to model the influence of mantle convection on the long-term history of the geodynamo and the geomagnetic field.
</p>
</td>
<td id="peoplePic">
<img src="/images/olson.jpg" />
</td></tr></table>
</div>
</div>

{% include footer.html %}

