---
layout: nil
---
{% include header.html %}
</div>
<div id="people">
<a id="peopleNav" href="./"><h4>People</h4></a>
<h3>Marie-Aude Pradal</h3>
<a class="tag">Research Scientist</a> <a class="tag">Johns Hopkins University</a><br />
<table><tr>
<td id="peopleBlurb">
<p>
My research concerns the interactions between ocean circulation, marine life, and the chemistry of the atmosphere. I am working with numerical models that represent these interactions at the scale of the planet. These models of the Earth System integrate solvers for its various components such as biogeochemical tracers and ocean parameters.</p><p>
My effort during the course of the FESD project will focus on operating the existing model to generate diagnostics and to connect the ocean model to the core mantle model.
</p>
</td>
<td id="peoplePic">
<img src="/images/MAP.jpg" />
</td></tr></table>
</div>
</div>

{% include footer.html %}
