---
layout: nil
---
{% include header.html %}
</div>
<div id="people">
<a id="peopleNav" href="./"><h4>People</h4></a>
<h3>Arghya Goswami (Raj)</h3>
<a class="tag">Postdoc</a> <a class="tag">Johns Hopkins University</a><br />
<table><tr>
<td id="peopleBlurb">
<p>
My research involves investigating near and deep-time paleoclimates especially using

paleosoils, vegetation, Köppen-Geiger climate schemes and Global Climate Models

(GCMs). I am very much interested in the Cretaceous and presently focusing my work on

the Cretaceous hot house world.</p><p>
My responsibilities in the Open Earth Systems will be diverse. They will include but

not be limited to focusing on framing the relevant geological questions, preparing

initial conditions, compiling diagnostic paleodata suites to test and compare models,

improveingthe land model - land diagnostics (GFDL) and setting up a low resolution

global plate model through the Phanerozoic for CitcomS mantle reconstruction model.
</p>
</td>
<td id="peoplePic">
<img src="/images/Raj.jpg" />
</td></tr></table>
</div>
</div>

{% include footer.html %}
