---
layout: nil
---
{% include header.html %}
</div>
<div id="people">
<a id="peopleNav" href="./"><h4>People</h4></a>
<h3>Richard Stolarski</h3>
<a class="tag">Research Professor</a> <a class="tag">Johns Hopkins University</a><br />
<table><tr>
<td id="peopleBlurb">
<p>
I have been a Research Professor at the Johns Hopkins University Department of
Earth and Planetary Sciences since mid-2010. Before that I was a research scientist
at the NASA Goddard Space Flight Center for more than 30 years. I worked on all
aspects of the stratospheric ozone issue. I developed some of the early models for
the impact of chlorine chemistry on the ozone layer. I have worked with satellite
measurements of ozone to describe the structure and variability of the Antarctic
ozone hole and to derive global trends in stratospheric ozone. Recently, I have
been involved in the development of comprehensive chemistry-climate models that
describe the response of atmospheric chemistry and dynamics to perturbations of
the Earth system.
</p>
<p>
My interest in the open Earth-system modeling project is the role of the atmosphere
in Earth history. As atmospheric oxygen evolved, an ozone layer began to form,
shielding the surface from the ravages of solar ultraviolet radiation. The knowledge
that we have gained from three decades of intense research on the ozone layer can
now be applied to the ancient atmosphere. I am exploring the development of the
ozone layer and its dependence on oxygen, carbon dioxide, methane, nitrous oxide
and other atmospheric components using a modern two-dimensional model of
atmospheric composition and dynamics.
</p>
</td>
<td id="peoplePic">
<img src="./stolarski.jpg" />
</td></tr></table>
</div>
</div>

{% include footer.html %}

