---
layout: nil
---
{% include header.html %}
</div>
<div id="people">
<a id="peopleNav" href="./"><h4>People</h4></a>
<h3>Darryn Waugh</h3>
<a class="tag">Co-PI</a> <a class="tag">Johns Hopkins University</a><br /><br /><a class="tag" id="peopleWebpage" href="http://www.jhu.edu/~dwaugh1/">Web page</a><br />
<table><tr>
<td id="peopleBlurb">
<p>
My research objectives are to understand the dynamics and transport properties of the atmosphere and oceans. My research in the atmosphere focuses on stratospheric and upper tropospheric dynamics/transport, to improve our ability to model the fluid motions in these regions as well as the distribution of trace constituents, such as ozone, in order to assess the impact of human activities on the atmospheric environment. 
</p><p>
My role in this project is to incorporate atmosphere dynamics and chemistry in Open Earth Systems models, to better understand the causes and consequences of climate change on geologic time scales.</p>
</td>
<td id="peoplePic">
<img src="/images/darryn_waugh.jpg" />
</td></tr></table>
</div>
</div>

{% include footer.html %}
