---
layout: nil
---
{% include header.html %}
</div>
<div id="people">
<a id="peopleNav" href="./"><h4>People</h4></a>
<h3>Shijie Zhong</h3>
<a class="tag">PI</a> <a class="tag">University of Colorado, Boulder</a><br /><br /><a class="tag" id="peopleWebpage" href="http://anquetil.colorado.edu/szhong">Web page</a><br />
<table><tr>
<td id="peopleBlurb">
<p>
I am a geophysicist in Department of Physics at the University of Colorado. I am

interested in the dynamics of planetary interiors, particularly how thermal

convection in planetary mantles transfers the heat and how this process

manifests itself in surface phenomena and observations.
</p>
<p>
My current research projects cover

terrestrial planetary bodies including the Earth, the Moon, and Mars. I use both

numerical modeling and theoretical analysis techniques in my research.  

My roles in this Project are to develop an Open Earth Mantle Convection model,

to couple it with models of the core and the ocean-atmosphere system, for application

to Earth history. 

</p>
</td>
<td id="peoplePic">
<img src="/images/zhong.jpg" />
</td></tr></table>
</div>
</div>

{% include footer.html %}

