
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Open Earth Systems</title>
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="icon" type="image/png" href="./favicon.png">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28860205-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<meta name="google-site-verification" content="8F2DqGBrrrOBw7-P5FuiMnzgk-Id3DolhXVsE0luz5I" />
</head>

<body>
<div id="wrapper">
<div id="header"><table>
<tr id="headerRow"><td id="logo">
<a href="/"><img src="/images/oeslogo.png" alt="Open Earth Systems" /></a>
</td>
<td id="nav">
<a href="/people/">People</a>
<a href="/news.html">Events/News</a>
<a href="/projects/2016/08/21/climate.html">Projects</a>
<a href="/publications.html">Publications</a>
<a href="/course/">Course</a>
</td></tr>
</table>
