{% for post in site.categories.projects %}
	<a class="pnav" href="{{ post.url }}">{{post.title}}</a><br />
{% endfor %}


<!--
<a class="pnav" href="./recon.html">Global Paleobathymetry &amp; Ocean Sediment Reconstruction</a><br />
<a class="pnav" href="./flayer.html">F-layer formation at the inner core boundary</a><br />
<a class="pnav" href="./mixing.html">Warming Polar Regions with Mixing</a><br />
<a class="pnav" href="./driven.html">Modeling a Mantle-driven Dynamo</a><br />

<a class="pnav" href="./superchron.html">Geomagnetic Superchron Cycles Driven by Mantle Convection</a><br />
<a class="pnav" href="./">Magnetic Reversals and the Earth's Core</a>
<a class="pnav" href="./gcc.html">Geodynamic Carbon Cycling</a><br />
<a class="pnav" href="./mantle.html">Mantle convection, plates, and the Earth system</a>
<a class="pnav" href="./climate.html">Climate interactions forced by continent assembly and breakup</a><br />
<a class="pnav" href="./nucleation.html">Inner Core Nucleation</a>
-->
