---
layout: nil
---
{% include header.html %}
</div>
<h2 id="projectsH2">Friday Presentations</h2>

<div id="projectcontent">
<br /><br />
<h3>Paleobathymetry</h3>
<a class="tag">Arghya Goswami</a> <a class="tag">March 15, 2013</a><br /><br />
<iframe width="640" height="360" src="http://www.youtube.com/embed/uWsjUmVX36A?rel=0" frameborder="0" allowfullscreen></iframe><br /><br />
<a class="pdf" href="./Bathymetry-3-15.pptx">Download Bathymetry-3-15.pptx</a>
<br /><br /><br />
<h3>The K/T boundary interval in 2013</h3>
<a class="tag">Linda Hinnov</a> <a class="tag">March 8, 2013</a><br /><br />
<iframe width="640" height="360" src="http://www.youtube.com/embed/tGuOV_K5oEw?rel=0" frameborder="0" allowfullscreen></iframe><br /><br />
<a class="pdf" href="./KT.ppt">Download KT.ppt</a>
<br /><br /><br />
<h3>Modern Ocean Bathymetry</h3>
<a class="tag">Arghya Goswami</a> <a class="tag">March 1, 2013</a><br /><br />
<iframe width="640" height="360" src="http://www.youtube.com/embed/VSTS46-5k4Q?rel=0" frameborder="0" allowfullscreen></iframe><br /><br />
</div>
</div>

{% include footer.html %}