---
layout: publications
published: true
---

{% include header.html %}
</div>
<div id="news">
<h2>Publications and Presentations</h2>
<h4>/OES Publications</h4><br />
<p><b><u>2016</u></b></p>
<div class="pubpage">

{{ content }}

</div>
<br /><br />
<p><b><u>2015</u></b></p>
<div class="pub">
Amit, H., Choblet, G., Olson, P., Monteaux, J., Dechamps, F., Langlais, B., Tobie,G., Exotic core-mantle boundary heat flux: a source of diversity in planetary dynamos. Progress in Earth and Planetary Science 2:26, 2015. <a class="pdf" href="http://dx.doi.org/10.1186/s40645-015-0056-3">http://dx.doi.org/10.1186/s40645-015-0056-3</a>
</div>
<div class="pub">
Amit, H., Olson, P., Lower mantle superplumes excite geomagnetic reversals, Earth Planet Sci Lett., 414, 68-75, 2015. <a class="pdf" href="http://dx.doi.org/10.1016/j.epsl.2015.01.013">http://dx.doi.org/10.1016/j.epsl.2015.01.013</a>
</div>
<div class="pub">
Black, B.A., R. R. Neely, and M. Manga (2015) Campanian ignimbrite volcanism, climate, and the final decline of the Neanderthals, Geology, vol. 43, 411-414.
<a class="pdf" href="http://dx.doi.org/10.1130/G36514.1">http://dx.doi.org/10.1130/G36514.1</a>
</div>
<div class="pub">
Black, B.A., and T. Mittal (2015), The demise of Phobos and development of a Martian ring system, Nature Geoscience, vol. 8, 913-917. <a class="pdf" href="http://dx.doi.org/10.1038/ngeo2583">http://dx.doi.org/10.1038/ngeo2583</a>
</div>
<div class="pub">
Lillis, R.J., J. Dufek, W.S. Kiefer, B. Black, M. Manga, J. Richardson, and J.E. Bleacher (2015), The Syrtis Major volcano, Mars: a multidisciplifnary approach to interpreting its magmatic evolution and structural development,  Journal of Geophysical Research, vol. 120, 1476-1496. <a class="pdf" href="http://dx.doi.org/10.1002/2014JE004774">http://dx.doi.org/10.1002/2014JE004774</a>
</div>
<div class="pub">
Liu, X., and S.J. Zhong, The long-wavelength geoid from 3-dimensional spherical models of thermal and thermo-chemical mantle convection, J. Geophys. Res., 120, 2015.
<a class="pdf" href="http://dx.doi.org/10.1002/2015JB012016">http://dx.doi.org/10.1002/2015JB012016</a>
</div>

<div class="pub">
Goswami, A., Hinnov, L.A., Gnanadesikan, A., Olson, P., Global ocean bathymetry
with generalized shelf-slope rises structures,  Geoscientific Model Development  8, 2735-2748, 2015.
<a class="pdf" href="http://dx.doi.org/10.5194/gmd-8-2735-2015">http://dx.doi.org/10.5194/gmd-8-2735-2015</a>
</div>
<div class="pub">
Olson, P., Amit, H., Mantle superplumes induce geomagnetic superchrons, Frontiers in Earth Science 3 (38), 2015. 
<a class="pdf" href="http://dx.doi.org/10.3389/feart.2015.00038">http://dx.doi.org/10.3389/feart.2015.00038</a>
</div>
<div class="pub">
Olson, P., Deguen, R., Rudolph, M.L., Zhong, S., Core evolution driven by mantle global circulation, Phys. Earth Planet. Inter.,  243, 44-55, 2015. 
<a class="pdf" href="http://dx.doi.org/10.1016/j.pepi.2015.03.002">http://dx.doi.org/10.1016/j.pepi.2015.03.002</a>
</div>
<div class="pub">
Richards, M.A., W. Alvarez, S. Self, L. Karlstrom, P.R. Renne, M. Manga, C.J. Sprain, J. Smit, and S.A. Gibson (2015) Triggering of the largest Deccan eruptions by the Chicxulub impact, Geological Society of America Bulletin. <a class="pdf" href="http://dx.doi.org/10.1130/B31167.1">http://dx.doi.org/10.1130/B31167.1</a>
</div>
<div class="pub">
Towles, N., Olson, P., Gnanadesikan, A., Scaling laws for perturbations to the ocean-atmosphere system following large CO2 emissions, Climates of the Past, 11, 1–17, 2015. <a class="pdf" href="http://dx.doi.org/10.5194/cpd-11-95-2015">http://dx.doi.org/10.5194/cpd-11-95-2015</a>
</div>
<div class="pub">
Wang, Y.M., J.S. Huang, and S.J. Zhong, Episodic and multistaged gravitational instability of cratonic lithosphere and its implications for reactivation of the North China Craton, Geochem. Geophys. Geosyst., 16, 815-833, 2015.
<a class="pdf" href="http://dx.doi.org/10.1002/2014GC005681">http://dx.doi.org/10.1002/2014GC005681</a>
</div>
<div class="pub">
Wang, D., and M. Manga (2015) Organic-matter maturation in the contact aureole of an igneous sill as a tracer of hydrothermal convection, Journal of Geophysical Research, vol. 120, 1-11. <a class="pdf" href="http://dx.doi.org/10.1002/2015JB011877">http://dx.doi.org/10.1002/2015JB011877</a>
</div>
<div class="pub">
Zhong, S.J., and M.L. Rudolph, On the temporal evolution of long-wavelength mantle structure of the Earth mantle since the Early Paleozoic, Geochem. Geophys. Geosyst., 16, 1599-1615, 2015.
<a class="pdf" href="http://dx.doi.org/10.1002/2015GC005782">http://dx.doi.org/10.1002/2015GC005782</a>
</div>
<div class="pub">
Zhong, S.J., and X. Liu, The long-wavelength mantle structure and dynamics and implications for large-scale tectonics and volcanism in the Phanerozoic, Gondwana Research, 2015.
<a class="pdf" href="http://dx.doi.org/10.1016/j.gr.2015.07.007">http://dx.doi.org/10.1016/j.gr.2015.07.007</a>
</div>
<br /><br />
<p><b><u>2014</u></b></p>
<div class="pub">
Bercovici, D. and M.D. Long, Slab rollback instability and super-continent dispersal, Geophys. Res. Lett. 41, 6659–6666, 2014. <a class="pdf" href="http://dx.doi.org/10.1002/2014GL061251">http://dx.doi.org/10.1002/2014GL061251</a>
</div>
<div class="pub">
Bercovici, D. and Y. Ricard, Plate tectonics, damage and inheritance, Nature, 508, 513-516, 2014. <a class="pdf" href="http://dx.doi.org/10.1038/nature13072">http://dx.doi.org/10.1038/nature13072</a>
</div>
<div class="pub">
Carlson, R.W., E. Garnero, T.M. Harrison, J. Li, M. Manga, W.F. McDonough, S. Mukhopadhyay, B. Romanowicz, D. Rubie, Q. Williams, and S. Zhong (2014). How did earth Earth become our modern world? Annual Reviews of Earth and Planetary Science, vol. 42, 151-178. <a class="pdf" href="http://dx.doi.org/10.1146/annurev-earth-060313-055016">http://dx.doi.org/10.1146/annurev-earth-060313-055016</a>
</div>
<div class="pub">
Deguen, R., Olson, P., Reynolds, E., F-layer formation in the outer core with asymmetric inner core growth. Comptes Rendus Geoscience, 346, 101-109, 2014. <a class="pdf" href="http://dx.doi.org/10.1016/j.crte.2014.04.003">http://dx.doi.org/10.1016/j.crte.2014.04.003</a>
</div>
<div class="pub">
Driscoll, P and Bercovici, D. On the thermal and magnetic histories of Earth and Venus: Influences of melting, radioactivity, and conductivity, Physics of the Earth and Planetary Interiors, Volume 236, 2014, Pages 36-51, ISSN 0031-9201. <a class="pdf" href="http://dx.doi.org/10.1016/j.pepi.2014.08.004">http://dx.doi.org/10.1016/j.pepi.2014.08.004</a>
</div>

<div class="pub">
Foley, B. J., & Bercovici, D. (2014). Scaling laws for convection with temperature-dependent viscosity and grain-damage. Geophysical Journal International, 199(1), 580-603. <a class="pdf" href="http://dx.doi.org/10.1093/gji/ggu275">http://dx.doi.org/10.1093/gji/ggu275</a>
</div>
<div class="pub">
Foley, B.J., D. Bercovici and L.T. Elkins-Tanton, Initiation of plate tectonics from post-magma ocean thermo- chemical convection, J. Geophys. Res.119, 8538–8561, 2014. <a class="pdf" href="http://dx.doi.org/10.1002/2014JB011121">http://dx.doi.org/10.1002/2014JB011121</a>
</div>

<div class="pub">
Karlstrom, L., C.-T. A Lee, and M. Manga (2014). Crustal thickening drives volcanic arc front migration, G-cubed, vol. 15. <a class="pdf" href="http://dx.doi.org/10.1002/2014GC005355">http://dx.doi.org/10.1002/2014GC005355</a>
</div>
<div class="pub">
Olson, P. and Amit, H., Magnetic reversal frequency scaling in dynamos with thermochemical convection. Phys. Earth Planet. Inter. 229 122-133, 2014. <a class="pdf" href="http://dx.doi.org/10.1016/j.pepi.2014.01.009">http://dx.doi.org/10.1016/j.pepi.2014.01.009</a>
</div>
<div class="pub">
Olson, P., Hinnov, L., Driscoll, P., Nonrandom geomagnetic reversal times and geodynamo evolution. Earth Planet. Sci. Lett. 388, 9-17, 2014. <a class="pdf" href="http://dx.doi.org/10.1016/j.epsl.2013.11.038">http://dx.doi.org/10.1016/j.epsl.2013.11.038</a>
</div>
<div class="pub">
Rudolph, M.L. and S.J. Zhong, History and dynamics of net rotation of the mantle and lithosphere, Geochemistry, Geophysics, Geosystems, 2014. <a class="pdf" href="http://dx.doi.org/10.1002/2014GC005457">http://dx.doi.org/10.1002/2014GC005457</a>
</div>
<br/><br />

<p><b><u>2013</u></b></p>
<div class="pub">
Deguen, R., T. Alboussière, and P. Cardin. Thermal convection in Earth’s inner core with phase change at its boundary. Geophys. J. Int., 2013. <a class="pdf" href="http://dx.doi.org/10.1093/gji/ggt202">http://dx.doi.org/10.1093/gji/ggt202</a> 
</div>

<div class="pub">
Driscoll, P. and D. Bercovici, Divergent evolution of Earth and Venus: Influence of degassing, tectonics, and magnetic fields, Icarus, 226, 1447-1464, 2013. <a class="pdf" href="http://dx.doi.org/10.1016/j.icarus.2013.07.025">http://dx.doi.org/10.1016/j.icarus.2013.07.025</a>
</div>

<div class="pub">
Huang, J.H., A. Yang, and S.J. Zhong, Constraints of the topography, gravity and volcanism on Venusian mantle dynamics and generation of plate tectonics, Earth Planet. Sci. Lett., 362, 207-214, 2013. 
<a class="pdf" href="http://dx.doi.org/10.1016/j.epsl.2012.11.051">http://dx.doi.org/10.1016/j.epsl.2012.11.051</a>
</div>

<div class="pub">
Liu, X. and S.J. Zhong, Analysis of marginal stability, heat transfer and boundary layer propoerties for thermal convection in a compressible fluid, Geophys. J. Int, 194, 125-144, 2013.
<a class="pdf" href="http://dx.doi.org/10.1093/gji/ggt117">http://dx.doi.org/10.1093/gji/ggt117</a>
</div>

<div class="pub">
Olson, P., Experimental dynamos, dynamics of planetary cores. Ann. Rev. Earth Planet. Sci. 41(1), 2013. 
<a class="pdf" href="http://dx.doi.org/10.1146/annurev-earth-050212-124033">http://dx.doi.org/10.1146/annurev-earth-050212-124033</a>
</div>



<div class="pub">
Olson, P., The geodynamo’s unique longevity. Physics Today 66(11) 30-36, 2013. <a class="pdf" href="http://dx.doi.org/10.1063/PT.3.2177">http://dx.doi.org/10.1063/PT.3.2177</a> [also translated into Japanese for Parity 6 4-11, 2014].
</div>


<div class="pub">
Olson, P., The new core paradox. Science  342, p.431, 2013. 
<a class="pdf" href="http://dx.doi.org/10.1126/science.1243477">http://dx.doi.org/10.1126/science.1243477</a>
</div>

<div class="pub">
Olson, P., R. Deguen, L. A. Hinnov, and S.J. Zhong, Controls on geomagnetic reversals and core evolution by mantle convection in the Phanerozoic, Phys. Earth Planet. Inter., 214, 87-103, 2013. <a class="pdf" href="http://dx.doi.org/10.1016/j.pepi.2012.10.003">http://dx.doi.org/10.1016/j.pepi.2012.10.003</a>
</div>
<div class="pub">
Rudolph, M. L., & Zhong, S. (2013). Does quadrupole stability imply LLSVP fixity? Nature, 503(7477), E3-E4. <a class="pdf" href="http://dx.doi.org/10.1038/nature12792">http://dx.doi.org/10.1038/nature12792</a>
</div>
<br/><br />

<p><b><u>2012</u></b></p>

<div class="pub">
Deguen, R., 2012. Structure and dynamics of Earth's inner core, Earth Planet. Sci. Lett. 333-334, 211-225. <a class="pdf" href="http://dx.doi.org/10.1016/j.epsl.2012.04.038">http://dx.doi.org/10.1016/j.epsl.2012.04.038</a> // <a class="pdf" href="/data/readings/Publications/Deguen2012.pdf">pdf</a>
</div>
<div class="pub">
Flowers, R.M., A.K. Ault, S.A. Kelley, N. Zhang, and S.J. Zhong, Epeirogeny or eustasy? Paleozoic-Mesozoic vertical motion of the North American continental interior from thermochronometry and implications for mantle dynamics, Earth Planet. Sci. Lett., 317-318, 436-445, 2012. <a class="pdf" href="http://dx.doi.org/10.1016/j.epsl.2011.11.015">http://dx.doi.org/10.1016/j.epsl.2011.11.015</a>
</div>
<div class="pub">
Foley, B.J., D. Bercovici and W. Landuyt, The conditions for plate tectonics on super-Earths: Inferences from convection models with damage, Earth Planet. Sci. Lett. 331-332, 281-290, 2012. <a class="pdf" href="http://dx.doi.org/10.1016/j.epsl.2012.03.028">http://dx.doi.org/10.1016/j.epsl.2012.03.028</a>
</div>
<div class="pub">
Karlstrom, L., M.L. Rudolph, and M. Manga (2012). Caldera size modulated by the yield stress within a crystal rich magma reservoir, Nature Geoscience, vol. 5, 402-405. (with long supplement) 
<a class="pdf" href="http://dx.doi.org/10.1038/ngeo1453">http://dx.doi.org/10.1038/ngeo1453</a>
</div>
<div class="pub">
Manga, M., M. Hornbach and the rest of the Leg 340 Science Party (2012). Heat flow in the Lesser Antilles island arc and adjacent back arc Grenada basin, Geochemistry, Geophysics, Geosystems, vol. 13, B08007.
<a class="pdf" href="http://dx.doi.org/10.1029/2012GC004260">http://dx.doi.org/10.1029/2012GC004260</a>
</div>
<div class="pub">
Olson, P. and Deguen, R., 2012. Eccentricity of the geomagnetic dipole caused by lopsided inner  core growth, Nature Geoscience, 5, 565-569. <a class="pdf" href="http://dx.doi.org/10.1038/ngeo1506">http://dx.doi.org/10.1038/ngeo1506</a> // <a class="pdf" href="/data/readings/Publications/DipoleEccentricity.pdf">pdf</a>
</div>
<div class="pub">
Zhang, N., S.J. Zhong, and R.M. Flowers, Predicting and testing continental motion histories since the Paleozoic, Earth Planet. Sci. Lett., 317-318, 426-435, 2012. 
<a class="pdf" href="http://dx.doi.org/10.1016/j.epsl.2011.10.041">http://dx.doi.org/10.1016/j.epsl.2011.10.041</a>
</div>


<br /><br />
<br /><br />
<a id="agulist"><h4>/AGU Fall Meeting Presentations</h4></a><br />

<p><b><u>2012</u></b></p>
<br />
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/v23d-2867/">V23D-2867: Intercalibration of multiple thermochonometric systems at the Little Devil's Postpile contact aureole</a><br />
David L Shuster, Peter W Reiners, Jennifer L Schmidt, Peter K Zeitler, Richard A Ketcham, <b>Leif Karlstrom</b>
<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/v53b-2821/">V53B-2821: A new multiparameter database of Holocene and Pleistocene Cascades magmatism</a><br />
Lay Kuan Loh, <b>Leif Karlstrom</b>, David W Ramsey, Connie L Driedger<br /><br />
</p>
<p><a class="poster">V43E-04: Building a large magma chamber at Mount Mazama, Crater Lake, Oregon</a><br />
Heather M. Wright, <b>Leif Karlstrom</b>, Charles R. Bacon<br /><br />
</p>

<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/gp31b-1071/">GP31B-1071: Precambrian Dynamo Reversal Behavior from Polarity Ratios</a><br />
David A Evans, <b>Peter E Driscoll</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/b33d-0546/">B33D-0546: Experimental Study of the Kinetics of CO2-Sequestration by Hawaiian Picrites</a><br />
Shuang Zhang, Lin Qiu, Zhengrong Wang, Shun-ichiro Karato, Kevin T Johnson, Jay Ague, Michael L Oristaglio, Edward W Bolton, <b>David Bercovici</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/b33d-0552/">B33D-0552: Constraining kinetic rates of mineral reactions using reactive transport models</a><br />
Edward W Bolton, Zhengrong Wang, Jay Ague, <b>David Bercovici</b>, Zhengyu Cai, Shun-ichiro Karato, Michael L Oristaglio, Lin Qiu<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/mr33a-2447/">MR33A-2447: Flow transport in deformable porous matrix with damage</a><br />
Zhengyu Cai, <b>David Bercovici</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/p13c-1955/">P13C-1955: Magnetic Field Influence on Atmospheric Escape and Planetary Evolution</a><br />
<b>Peter E Driscoll</b>, <b>David Bercovici</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/v53e-2882/">V53E-2882: Heat flow in the Lesser Antilles island arc and adjacent back arc Grenada basin</a><br />
<b>Michael Manga</b>, Matthew J Hornbach, Anne Le Friant, Osamu Ishizuka, Nicole A Stroncik<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/v53e-2883/">V53E-2883: In-situ physical properties of submarine slides along the Lesser Antilles Arc derived from rock physics models</a><br />
Matthew J Hornbach, <b>Michael Manga</b>, Tatsuya Adachi, Christoph F Breitkreuz, Sara Lafuerza, Anne LeFriant, Sally Morgan, Osamu Ishizuka, Martin Jutzeler, Angela L Slagle, Peter J Talling<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/v53e-2884/">V53E-2884: Flotation Experiments with Seafloor-Sampled Pumice Lapilli, IODP 340 - Preliminary Results</a><br />
Martin Jutzeler, <b>Michael Manga</b>, James D White<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/v53e-2889/">V53E-2889: Consolidation state of marine sediments west of Martinique, Lesser Antilles volcanic arc: preliminary geotechnical analyses from IODP Expedition 340</a><br />
Sara Lafuerza, Anne Le Friant, <b>Michael Manga</b>, Matthew J Hornbach, Martin Jutzeler, Christoph F Breitkreuz<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/nh11a-1549/">NH11A-1549: Source evolution and longevity of the Lusi mud eruption, Indonesia</a><br />
<b>Maxwell L Rudolph</b>, Manoochehr Shirzaei, <b>Michael Manga</b>, Yo Fukushima<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/t43a-2633/">T43A-2633: Crustal thickening drives arc front migration</a><br />
<b>Leif Karlstrom</b>, Cin-Ty Lee, <b>Michael Manga</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/v11b-2753/">V11B-2753: Counterintuitive effects of substrate roughness on PDCs (Invited)</a><br />
Benjamin J Andrews, <b>Michael Manga</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/v11b-2760/">V11B-2760: Crystal bearing magmas rheology: Theoretical, experimental and numerical comparison</a><br />
Benoit Cordonnier, Boris J Kaus, Wim Degruyter, <b>Michael Manga</b>, Philippe Yamato, Thibault Duretz<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/b23e-0506/">VB23E-0506: Intensified Plant Activity Following the 2010 M8.8 Maule Earthquake</a><br />
Christian H Mohr, <b>Michael Manga</b>, Chi-Yuen Wang<br /><br />
</p>
<p><a class="poster">G23C-07: Computations of the viscoelastic response of a 3-D compressible Earth to surface loading: an application to Glacial Isostatic Adjustment in Antarctica and Canada</a><br />
Geruo A, John M. Wahr, <b>Shijie Zhong</b><br /><br />
</p>
<p><a class="poster">T33J-05: A Model for Earth’s Mantle Dynamic History for The Last 500 Ma and Its Implications for Continental Vertical Motions and Geomagnetism (Invited)</a><br />
<b>Shijie Zhong</b>, <b>Peter Olson</b>, Nan Zhang<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/b53a-0657/">B53A-0657: Effects of Lithospheric and Crustal Cooling and Global Sea-level Changes due to Glaciation Cycles on Paleogeography of the Galapagos</a><br />
<b>Shijie Zhong</b>, Dennis Geist<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/os31c-1757/">OS31C-1757: Processes governing transient responses of the deep ocean buoyancy budget to a doubling of CO2</a><br />
Jaime B Palter, Stephen M Griffies, Bonita L Hunter Samuels, Eric D Galbraith, <b>Anand Gnanadesikan</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/os33a-1812/">OS33A-1812: Ocean Color and the Equatorial Annual Cycle in the Pacific</a><br />
Arno C Hammann, <b>Anand Gnanadesikan</b><br /><br />
</p>
<p><a class="poster">A14E-04. Sensitivity of Stratospheric and Tropospheric Chemistry to Perturbations of Methane, Carbon Dioxide, Nitrous Oxide, and Chlorofluorocarbons</a><br />
<b>Richard S. Stolarski</b>, Eric L. Fleming, Charles H. Jackman, Anne R. Douglass, Paul A. Newman<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/in11a-1453/">IN11A-1453: Estimating Uncertainty in a 41-year Merged Ozone Dataset from SBUV instruments</a><br />
Natalya A Kramarova, Stacey M Frith, Richard D McPeters, <b>Richard S Stolarski</b>, Pawan K Bhartia, Gordon J Labow<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/a21g-0136/">A21G-0136: Response to solar forcing under different background atmospheric conditions</a><br />
William H Swartz, <b>Richard S Stolarski</b>, Eric L Fleming, Charles H Jackman, Luke Oman<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/a21g-0141/">A21G-0141: Evaluation of Chemistry Climate Model Projections for Ozone Recovery using Network for Detection of Atmospheric Composition Change (NDACC) Column Measurements of Chlorine Reservoirs HCl and ClONO2</a><br />
Anne R Douglass, Susan E Strahan, <b>Richard S Stolarski</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/a11j-0182/">A11J-0182: The Effect of Tropospheric Jet Latitude on Coupling between the Stratospheric Polar Vortex and the Troposphere</a><br />
Edwin P Gerber, Chaim Garfinkel, <b>Darryn W Waugh</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/a11j-0182/">A11J-0183: Observed Connection between Stratospheric Sudden Warmings and the Madden-Julian Oscillation</a><br />
Chaim Garfinkel, Steven B Feldstein, <b>Darryn W Waugh</b>, Sukyoung Lee, Changhyun Yoo<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/a11j-0191/">A11J-0191: Seasonal Variations of Stratospheric Age Spectra in GEOSCCM</a><br />
 Feng Li, <b>Darryn W Waugh</b>, Anne R Douglass, Steven Pawson, Paul A Newman, <b>Richard S Stolarski</b>, Susan E Strahan<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/a43e-0206/">A43E-0206: Global Tropospheric OH</a><br />
 Julie M Nicely, Timothy P Canty, Chang Lang, Bryan N Duncan, Qing Liang, Luke Oman, Ross J Salawitch, <b>Richard S Stolarski</b>, <b>Darryn W Waugh</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/a53p-0426/">A53P-0426: Air-mass Origin as a Diagnostic of Climate Change in Tropospheric Transport</a><br />
 Clara Orbe, Mark Holzer, Lorenzo M Polvani, <b>Darryn W Waugh</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/gp13b-1129/">GP13B-1129: Sherman Statistic Reveals Non-Random Behavior in the Phanerozoic Geomagnetic Polarity Time Scale</a><br />
 <b>Linda A Hinnov</b>, <b>Peter Olson</b>, <b>Peter E Driscoll</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/di31a-2391/">GDI31A-2391: Rotation and penetrative convection in water cooled from below</a><br />
 Thierry Alboussiere, Stephane Labrosse, Fabien Dubuffet, Fanny Thibon, Ludovic Huguet, <b>Renaud Deguen</b><br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/di31b-2397/">DI31B-2397: Mantle convection modulates core evolution and geomagnetic reversals</a><br />
 <b>Peter Olson</b>, <b>Renaud Deguen</b>, <b>Linda A Hinnov</b>, <b>Shijie Zhong</b><br /><br />
</p>
<p><a class="poster">P44A-02. Fluid dynamics experiments on metal fragmentation in a magma ocean (Invited)</a><br />
<b>Renaud Deguen</b>, Maylis Landeau, <b>Peter Olson</b><br /><br />
</p>
<p><a class="poster">MR13A-04. Towards a coherent interpretation of the seismic inner core (Invited)</a><br />
Thierry Alboussiere, <b>Renaud Deguen</b><br /><br />
</p>
<p><a class="poster">MR41A-08. Silicate-Iron partitioning of Palladium and Ruthemium up to 110 GPa using nano-X-Ray Fluorescence imaging</a><br />
Sylvain Petitgirard, Denis Andrault, Manuela Borchert, Karen Appel, <b>Renaud Deguen</b>, Mohamed Mezouar, Julie Villanova<br /><br />
</p>

<p><a class="poster">DI11B-01. Conditions for inner core translation, and possible observable consequences for the outer core dynamics (Invited)</a><br />
 <b>Renaud Deguen</b>, Thierry Alboussiere, <b>Peter Olson</b>, Philippe Cardin<br /><br />
</p>
<p><a class="poster" href="http://fallmeeting.agu.org/2012/eposters/eposter/di33a-2409/">DDI33A-2409: F-layer formation in numerical dynamos with inner core translation</a><br />
<b>Evan Reynolds</b>, <b>Renaud Deguen</b>, <b>Peter Olson</b><br /><br />
</p>
<p><a class="poster">DI22A-02 Science goals for the next generation of numerical dynamos (Invited)</a><br />
<b>Peter Olson</b><br /><br />
</p>
</div>

</div>
</div>

{% include footer.html %}
