---
layout: nil
---
{% include header.html %} 
</div>
<div id="outreach">
<h4><b>Open Earth Systems: An Earth Science Course For Maryland Teacher Professional Development</b></h4>
<br />
<div id="courseNav">
<a class="selected" href="/course/">About</a>
<!--
<a href="/course/materials/presentations/">Presentations</a>
<a href="/course/lessons.php">Lesson Plans</a>
<a class="selected" href="/course/exercises.php">Lab Exercises</a>
-->
<a href="/course/materials/">Course Materials</a>
<!--
<a href="/course/lessons2014.php">Lesson Plans</a>
-->
</div>
<br />
<br />
<p>Wednesday July 8 (AM) Instruction by Linda Hinnov: <br /><a class="pdf" href="https://www.youtube.com/watch?v=to4VKMekJ88">youtube.com/watch?v=to4VKMekJ88</a>
<br /><br />
Thursday July 9 (AM) Instruction by Linda Hinnov: <br /><a class="pdf" href="https://www.youtube.com/watch?v=YYNUqfUtlhg">youtube.com/watch?v=YYNUqfUtlhg</a>
<br />
Thursday July 9 (PM) Guest Lecture by Steven Stanley: <br /><a class="pdf" href="https://www.youtube.com/watch?v=4T73bFcsup8">youtube.com/watch?v=4T73bFcsup8</a>
</p>
<br /><br />
<img src="./md_teachers.jpg" width="660px" />
<br /><br />
<p class="caption">
Maryland K-12 teachers working in the lab during the first Open Earth Systems course, June 2013.
</p>
<br />
<br />
<p>

<b>When:</b> July 6-15, 2015; 9:30-4:30 weekdays <br />
<b>For:</b> Maryland teachers, K-12 (no science or math prerequisites)<br />
<b>By:</b> JHU Earth and Planetary Sciences faculty and researchers<br />
<b>Credits:</b> MSDE &amp; Baltimore City AU approved 3 credits<br />
<b>Perks:</b> Lunches and parking provided<br />
<b>Cost:</b> Tuition waived for qualified applicants <br />
<b>Contact:</b> Teresa Healy: <a class="people" href="mailto:thealy@jhu.edu">thealy@jhu.edu</a>
</p>
<a class="tag" id="newsWebpage" href="/course/flyerOES-2015.pdf">Flyer PDF</a><br /><br /><br />
<p>
Offering expert instruction in Earth science with hands-on activities and supervised lesson planning over four topics:<br /><br />
<b>Plate Tectonics &amp; Rock Cycle:</b><br />
∙ Earth’s internal structure and heat engine <br />
∙ Lithosphere in motion and plate boundaries<br />
∙ Igneous, sedimentary and metamorphic rocks<br /><br />

<b>Natural Disasters:</b><br />
∙ Deadly Atlantic hurricanes: formation to landfall <br />
∙ Mega-earthquakes and mega-volcanoes<br />
∙ A survivor's guide to tornadoes and derechos<br /><br />

<b>Earth History &amp; Fossil Record:</b><br />
∙ Geologic time and the stratigraphic record <br />
∙ The early Earth and onset of life<br />
∙ Fossils and the history of the biosphere<br /><br />

<b>￼The Global Climate System:</b><br />
∙ Understanding the greenhouse effect <br />
∙ Ocean-atmosphere circulation<br />
∙ An introduction to climate models and data<br /><br />
</p>

<!--

<h4><b>2013 Course Archive:</b></h4>
<div id="courseNav">
<a href="/course/materials/presentations/">Presentations</a> <br />

<a href="/course/lessons.php">Lesson Plans</a><br />


<a href="/course/exercises.php">Lab Exercises</a><br />

<a href="/course/materials/">Files</a>

-->
<br />
</p></div>
</div>

</div>
</div>
</div>

{% include footer.html %}
